@import url("main.css");

main div.feature{
    padding-left: 10px;
    padding-top:  10px;
    border-width: 25px;
}
main > :nth-child(even){
    border-right: solid var(--accent1);
    border-left: solid var(--accent1);
}

main > :nth-child(odd){
    border-right: solid var(--accent2);
    border-left: solid var(--accent2);
}

@media screen and (max-width:800px){
	main div.feature{
    border-width: 15px;
  }
}


.fb{
    margin-left: 10px;
}

#schedule{
  border:none;
}

.feature p{
    font-size: 1.3em;
    margin:auto;
}

.left{
    float:left;
}

.feature figure{
    margin-left: 10px;
    width: 35%;
}

.feature figure img{
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    padding: 0 3%;
}

#community p{
  padding: 3% 0;
}

#atmosphere ul li{
  list-style-type: disc;
  margin-left:5%;
  font-size:150%;
}

#price{
  position:absolute;
  top:-500px;
  transition:all 1s;
}

#wrapper{
  position:relative;
  overflow: hidden;
  margin: 3%;
}

.button{
    background-color: #3d4044;
    border-radius:8px;
    display:inline-block;
    width:70%;
    margin-left:15%;
    text-align: center;
    transition:all 0.4s;
    font-size:150%;
    margin-bottom: 15px;
    color: white;
    padding: 5px;
}

.button:hover{
  background-color:#2a2c2d;
  top:0;
}

#rates p{
  font-size:1.5em;
  padding: 5px;
}

.price-table{
  background-color: lightgrey;
  border-radius: 15px;
  padding: 5px;
}

td, th{
  font-size:150%;
}

.price-table td{
  padding:1%;
  border-top: 2px solid black;
}
.price-table th{
  font-weight: bold;
}

.price-table tr:last-child{
  border-bottom: 2px solid black;
}

.hide{
    opacity: 0;
    display:none;
}

.show{
    opacity: 1;
    display:block;
}

.drive-img{
    max-width: 90%;
    border:none;
}

.overlay {
   background:transparent;
   position:absolute;
   max-width:90%;
}

.clear {
    clear: both;
}

.fb-feed{
    width:100%;
    min-width: 500px;
}

a img{
  max-width: none;
  max-height: none;
}

div.uiScaledContainer.2zfr{
  width:100%;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

#fb iframe{
  width:100%;
}

#to-top{
  position: fixed;
  top:10px;
  right:30px;
  width:5%;
  border:none;
  border-radius:10px;
  z-index:4;
}

#to-top img{
  width:110%;
  transition: opacity 1s;
}
