@import url("smallScreenFriend.css");
:root{
    --accent1: #0000FF;
    --accent2: #cded4e;
    --bg: rgb(160, 160, 160);
    --banner-color: rgb(230, 230, 230);
    --text-color: rgb(15, 15, 15);
    --darker-grey: rgb(140, 140, 140);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0px;
    font-size: 1.6rem;
}

header, footer{
  font-family: 'Kalam', sans-serif;
}
html{
    background: var(--bg);
}

.banner{
    background-color: var(--banner-color);
    height: 9.5em;
    margin: 0px;
    box-shadow: 5px 5px 3px #888888;
    font-size:130%;
}

.banner h1, .banner h2, .banner h3{
    color: var(--text-color);
    text-align: center;
}

.banner h3{
  padding-top:5px;
}

.title{
    margin:0;
    font-size: 250%;
    padding:20px 0 5px 0;
}

.banner h2{
  font-size: 175%;
  color: var(--accent1);
}

.smaller{
    font-size: 0.5em;
}

.banner h2{
    margin-top: 0px;
}

.logo{
  float: left;
  max-height:100%;
  margin:5px 0 0 5px;
}

a{
    font-weight: bold;
    font-size: 1.2em;
}

nav{
    width: 96%;
    margin-left: 2%;
    font-size:150%;
    background-color: #333;
    border-radius: 20px;
    transition: all 0.3s;
    padding: 0;
    max-height:100%;
    font-size:80%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 90%;
    margin: 0 4%;
}

nav li {
    display: inline-block;
    padding: 0.8em 0.5em;
    width:16%;
}

nav li:hover{
    background-color: grey;
}

nav li a{
    display: block;
    color: var(--banner-color);
    text-align: center;
    text-decoration: none;
}


.fixed{
    top:0;
    margin:0;
    width:100%;
    position:fixed;
    z-index: 200;
}

main{
    width:100%;
    align-content: center;
    display: inline-block;
}

.feature{
    margin-left:  15%;
    width:70%;
    margin-top: 20px;
    color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 10px;
    padding:20px;
    padding-top:40px;
    background-color: var(--banner-color);
    display:inline-block;
}

#like-button{
  border:none;
  display:none;
  bottom:0;
  right:5px;
  position:fixed;
  z-index:4;
}

footer{
    height: 2em;
    font-size:1em;
    color: white;
}

footer p{
    height: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
    padding-top:9px;
}

footer i{
    float: left;
    padding-left:10px;
}

footer b{
    float: right;
    padding-right: 10px;
}
