:root{
    --accent1: #0000FF;
    --accent2: #cded4e;
    --bg: rgb(150, 150, 150);
    --banner-color: rgb(230, 230, 230);
    --text-color: rgb(15, 15, 15);
}

body{
    font-family: 'Kalam', serif;
    margin: 0px;
}

html{
    background: var(--bg);
}

.banner{
    background-color: var(--banner-color);
    height: 10%;
    margin: 0px;
    box-shadow: 5px 5px 3px #888888;
}

.banner h1, .banner h2{
    color: var(--text-color);
    text-align: center;
}

.banner h1{
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 5em;
}

.smaller{
    font-size: 0.5em;
}

.banner h2{
    margin-top: 0px;
}

.logo{
    padding: 0px;
    float: left;
    margin: 0px;
    width: 17em;
}

a{
    font-weight: bold;
    font-size: 1.5em;
}

nav{
    width: 96%;
    margin-left: 2%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
}

nav li {
    display: inline-block;
    transition: all 0.3s;
}

nav li:hover{
    background-color: grey;
}

nav li a{
    display: block;
    color: var(--banner-color);
    text-align: center;
    padding: 0.8em 1.5em;
    text-decoration: none;
}

.active {
    color: var(--accent1);
}

main{
    width:100%;
    align-content: center;
    display: inline-block;
}

main > :nth-child(even){
    border-right: 25px solid var(--accent1);
    border-left: 25px solid var(--accent1);
}

main > :nth-child(odd){
    border-right: 25px solid var(--accent2);
    border-left: 25px solid var(--accent2);
}

main div{
    padding-left: 10px;
    padding-top:  10px;
}

.fb{
    margin-left: 10px;
}

.feature{
    margin-left:  15%;
    width:70%;
    margin-top: 20px;
    color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: var(--banner-color);
    display:inline-block;
}

.feature p{
    padding-right: 5px;
    font-size: 1.6em;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: auto;
}

.left{
    float:left;
}

.feature figure{
    margin-left: 10px;
    width: 20%;
}

.feature figure img{
    width: 100%;
    min-width: 150px;
    max-width: 350px;
}

.price-button{
    background-color: var(--bg);
    box-shadow: 5px 5px 3px #888888;
    color: var(--accent1);
    transition: all 0.3s;
}

.price-button:hover{
    font-size:1.1em;
    font-style:bold;
}

.close{
    font-size: 0.6em;
    transition: all 0.4s;
}

.close:hover{
    color: var(--accent1);
    font-size:0.8em;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.drive-img{
    max-width: 90%;
    border:none;
}

.overlay {
   background:transparent; 
   position:absolute;
}

.clear {
    clear: both;
}

.fb-iframe{
    width:60%;
    margin-left:10%;
    min-width: 500px;
}

footer{
    height: 3em;
    font-size:1em;
    color: white;
}

footer p{
    height: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
}

footer i{
    float: left;
    padding-left:10px;
}

footer b{
    float: right;
    padding-right: 10px;
}


.fixed{
    top:0;
    height: 8%;
    position:fixed;
    z-index: 200;
}