html, body{
    font-family: 'Roboto';
}

html{
    background: #1a4182;
}

header div{
    border-top: 0.1em solid black;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
}

header h1, header h2{
    color: #98b4e0;
    text-align: center;
}

header img{
    float:left;
    padding-top:200px;
}

a{
    color: orange;
    font-weight: bold;
}

nav{
    position:fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.8em 1.5em;
    text-decoration: none;
}

.active {
    color: orange;
}

main{
    margin-left:  15em;
    margin-right: 0.8em;
    background: #bdc3c7;
    width: 800px;
    align-content: center;
}

main div{
    padding-left: 10px;
    padding-top:  10px;
}

.left{
    float:left;
    margin-right:1em;
}

.feature{
    height: 15em;
    color: #2c3e50;
}

#community{
    background-color: #f39c12;
}

#atmosphere{
    background-color: #e67e22;
}

#rates{
    background-color: #f39c12;
}

#schedule{
    background-color: #e67e22;
    height: 20em;
}

.clear {
      clear: both;
}

footer{
    text-align: center;
    font-size:1em;
    border-top: 0.1em solid black;
    background: #222;
    height: 1.2em;
    color: white;
}

footer i{
    float: left;
}

footer b{
    float: right;
}
