 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
     transition: margin-left .5s;
     padding: 20px;
 }

@media screen and (max-width:1000px){
		.logo{
			width:300px;
		}
		.banner{
        display: block;
    }

    .logo{
			float:none;
    }

		.banner h1{
        display:none;
    }

    #schedule li a{
      padding: 10px;
    }
}

@media screen and (max-width: 1000px){
    .feature{
        display: block;
    }

    .feature figure{
        float: none;
    }

		.title{
			font-size:3em;
		}

		/*nav{
			width:auto;
		}*/

		.feature{
			width:98%;
			margin:1%;
		}

		.feature figure{
			width: 100%;
		}

		.feature figure{
			display:block;
			width: 100%;
			margin:auto;
		}

		#cal-button{
			display:block;
		}
		footer{
			height:4em;
		}
		footer p{
			text-align: center;
		}
		footer b, footer i{
			float:none;
		}
}

@media screen and (max-width: 600px){
		.fb-feed{
			display: none;
		}
		.fb-head{
			display:block;
		}
}

@media screen and (max-width: 500px){

	.logo{
		width:250px;
	}

	.feature{
		border-left: none;
		margin-left:2%;
		width: 88%;
	}

}

@media screen and (max-width: 430px){
	#fb.feature{
		display:none;
	}
	#like-button{
		display:block;
	}
}
