 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
     transition: margin-left .5s;
     padding: 20px;
 }

 @media screen and (max-width: 1290px){
   .banner{
     font-size:110%;
   }
   .title{
     font-size:222%;
   }
   nav{
     font-size:65%
   }
 }

@media screen and (max-width: 1000px){
  .cd-schedule .event-modal .header-bg{
    background-color: #333;
  }

  .logo{
    float:none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .banner{
      display: block;
      height: 12.5em;
      font-size: 120%;
  }

  .banner h1{
    display:none;
  }

	.title{
		font-size:3em;
	}

  nav{
    font-size: 65%;
  }

  nav ul{
    width:auto;
    margin:0;
  }

  nav li{
    padding-left: 0;
    width:100%;
  }

  .feature{
    display: block;
    width:98%;
		margin:1%;
    font-size:70%;
  }

  .feature figure{
    float: none;
		display:block;
		width: 100%;
		margin:auto;
  }

  .feature figure img{
    max-width:none;
  }

	#cal-button{
		display:block;
	}

  .cd-schedule{
    font-size:120%;
  }
  #schedule li a{
    padding: 10px;
  }

  figcaption{
    font-size: 120%;
  }

  .feature h2{
    font-size: 140%;
  }

  .feature h3{
    font-size: 120%;
  }
  .cd-schedule .event-name {
    font-size: 2.4rem;
  }

  .cd-schedule .event-date{
    font-size:2rem;
  }

  #to-top img{
    width:220%;
  }
  #to-top{
    right:55px;
  }

	footer{
		height:4em;
	}
	footer p{
		text-align: center;
	}
	footer b, footer i{
		float:none;
	}
}

@media screen and (max-width: 481px){
   .fb-feed{
     display: none;
   }
   .fb-head{
     display:block;
   }
    #fb.feature{
     display:none;
   }
   #like-button{
     display:block;
   }
   #to-top{
     right:25px;
   }
}

@media screen and (max-width: 321px){
 .feature{
   border-left: none;
   margin-left:2%;
   width: 88%;
 }
}
